.list {
    background-color: rgb(214, 49, 187);
    width: 300px;
    height: 50px;
    line-height: 50px;
    color: seashell;
    border-radius: 10px;
}

.list p {
    margin-left: 20px;
    font-size: 20px;
    position: relative;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
} 

.list p input {
    background-color: transparent;
    width: 200px;
    border: none;
}